@using Archspace2;
@{
    ViewData["Title"] = "Encyclopedia";
    Layout = "_Layout";
}

<h1>Encyclopedia</h1>

<h2>Armors</h2>
<table>
    <tbody>
        @foreach (var armor in Game.Configuration.Armors)
        {
            <tr><td><a href="~/encyclopedia/armor/@armor.Id">@armor.Name</a></td></tr>
        }
    </tbody>
</table>

<h2>Computers</h2>
<table>
    <tbody>
        @foreach (var computer in Game.Configuration.Computers)
        {
            <tr><td><a href="~/encyclopedia/computer/@computer.Id">@computer.Name</a></td></tr>
        }
    </tbody>
</table>

<h2>Devices</h2>
<table>
    <tbody>
        @foreach (var devices in Game.Configuration.Devices)
        {
            <tr><td><a href="~/encyclopedia/devices/@devices.Id">@devices.Name</a></td></tr>
        }
    </tbody>
</table>

<h2>Engines</h2>
<table>
    <tbody>
        @foreach (var engine in Game.Configuration.Engines)
        {
            <tr><td><a href="~/encyclopedia/engine/@engine.Id">@engine.Name</a></td></tr>
        }
    </tbody>
</table>

<h2>Projects</h2>
<table>
    <tbody>
        @foreach (var project in Game.Configuration.Projects)
        {
            <tr><td><a href="~/encyclopedia/project/@project.Id">@project.Name</a></td></tr>
        }
    </tbody>
</table>

<h2>Races</h2>
<table>
    <tbody>
        @foreach (var race in Game.Configuration.Races)
        {
            <tr><td><a href="~/encyclopedia/race/@race.Id">@race.Name</a></td></tr>
        }
    </tbody>
</table>

<h2>Shields</h2>
<table>
    <tbody>
        @foreach (var shield in Game.Configuration.Shields)
        {
            <tr><td><a href="~/encyclopedia/shield/@shield.Id">@shield.Name</a></td></tr>
        }
    </tbody>
</table>

<h2>Ship Classes</h2>
<table>
    <tbody>
        @foreach (var shipClass in Game.Configuration.ShipClasses)
        {
            <tr><td><a href="~/encyclopedia/shipclass/@shipClass.Id">@shipClass.Name</a></td></tr>
        }
    </tbody>
</table>

<h2>Spy Actions</h2>
<table>
    <tbody>
        @foreach (var spyAction in Game.Configuration.SpyActions)
        {
            <tr><td><a href="~/encyclopedia/spyaction/@spyAction.Id">@spyAction.Name</a></td></tr>
        }
    </tbody>
</table>

<h2>Techs</h2>
<table>
    <tbody>
        @foreach (var tech in Game.Configuration.Techs)
        {
            <tr><td><a href="~/encyclopedia/tech/@tech.Id">@tech.Name</a></td></tr>
        }
    </tbody>
</table>

<h2>Weapons</h2>
<table>
    <tbody>
        @foreach (var weapon in Game.Configuration.Weapons)
        {
            <tr><td><a href="~/encyclopedia/weapon/@weapon.Id">@weapon.Name</a></td></tr>
        }
    </tbody>
</table>