<img src="~/images/archspace.jpg" />
<ul>
    <li><a href="~/archspace/main">MAIN</a></li>
    <li>
        <a href="#domestic" data-toggle="collapse">DOMESTIC</a>
        <div id="domestic" class="collapse">
            <ul>
                <li><a href="@Url.Action("ConcentrationMode", "Archspace")">Concentration Mode</a></li>
                <li><a href="@Url.Action("PlanetManagement", "Archspace")">Planet Management</a></li>
                <li><a href="@Url.Action("PlanetInvestPool", "Archspace")">Planet Invest Pool</a></li>
                <li><a href="@Url.Action("Research", "Archspace")">Research</a></li>
                <li><a href="@Url.Action("Project", "Archspace")">Project</a></li>
                <li><a href="@Url.Action("Whitebook", "Archspace")">Whitebook</a></li>
            </ul>
        </div>
    </li>
    <li>
        <a href="#diplomacy" data-toggle="collapse">DIPLOMACY</a>
        <div id="diplomacy" class="collapse">
            <ul>
                <li><a>Status List</a></li>
                <li><a>Management</a></li>
                <li><a>Read Message</a></li>
                <li><a>Send Message</a></li>
                <li><a>Inspect Other Player</a></li>
                <li><a>Special Operation</a></li>
            </ul>
        </div>
    </li>
    <li>
        <a href="#empire" data-toggle="collapse">EMPIRE DIPL.</a>
        <div id="empire" class="collapse">
            <ul>
                <li><a>Bribe</a></li>
                <li><a>Bounties</a></li>
                <li><a>Request Boon</a></li>
                <li><a>Request Mediation</a></li>
                <li><a>Invade Empire</a></li>
            </ul>
        </div>
    </li>
    <li>
        <a href="#fleet" data-toggle="collapse">FLEET</a>
        <div id="fleet" class="collapse">
            <ul>
                <li><a href="@Url.Action("ShipDesign", "Archspace")">Ship Design</a></li>
                <li><a href="@Url.Action("ShipBuilding", "Archspace")">Ship Building</a></li>
                <li><a href="@Url.Action("Admiral", "Archspace")">Fleet Commander</a></li>
                <li><a href="@Url.Action("ShipPool", "Archspace")">Ship Pool</a></li>
                <li><a href="@Url.Action("FormNewFleet", "Archspace")">Form a New Fleet</a></li>
                <li><a href="@Url.Action("Reassignment", "Archspace")">Reassignment</a></li>
                <li><a href="@Url.Action("Expedition", "Archspace")">Expedition</a></li>
                <li><a href="@Url.Action("Mission", "Archspace")">Mission</a></li>
                <li><a href="@Url.Action("Recall", "Archspace")">Recall</a></li>
                <li><a href="@Url.Action("DisbandFleet", "Archspace")">Disband</a></li>
            </ul>
        </div>
    </li>
    <li>
        <a href="#war" data-toggle="collapse">WAR</a>
        <div id="war" class="collapse">
            <ul>
                <li><a>Siege Planet</a></li>
                <li><a>Blockade</a></li>
                <li><a>Raid</a></li>
                <li><a>Privateer</a></li>
                <li><a>Defense Plan</a></li>
                <li><a>Battle Report</a></li>
            </ul>
        </div>
    </li>
    <li>
        <a href="#council" data-toggle="collapse">COUNCIL</a>
        <div id="council" class="collapse">
            <ul>
                <li><a href="@Url.Action("CouncilVote", "Archspace")">Council Vote</a></li>
                <li><a>Admission Request</a></li>
                <li><a>Independence Declaration</a></li>
                <li><a>Donation</a></li>
                <li><a>Diplomatic Status</a></li>
                <li><a href="@Url.Action("SpeakerMenu", "Archspace")">Speaker Menu</a></li>
            </ul>
        </div>
    </li>
    <li>
        <a href="#info" data-toggle="collapse">INFO</a>
        <div id="info" class="collapse">
            <ul>
                <li><a href="@Url.Action("Clusters", "Archspace")">Clusters</a></li>
                <li><a href="@Url.Action("Ranking", "Archspace")">Ranking</a></li>
            </ul>
        </div>
    </li>
    <li>
        <a href="#black-market" data-toggle="collapse">BLACK MARKET</a>
        <div id="black-market" class="collapse">
            <ul>
                <li><a>The Tech Deck</a></li>
                <li><a>The Fleet Deck</a></li>
                <li><a>Officer's Lounge</a></li>
                <li><a>Rare Goods Office</a></li>
                <li><a>Leaser's Office</a></li>
            </ul>
        </div>
    </li>
    <li>
        <a href="#forum" data-toggle="collapse">FORUM</a>
        <div id="forum" class="collapse">
            <ul>
                <li><a>Council Forum</a></li>
            </ul>
        </div>
    </li>
    <li>
        <a href="#help" data-toggle="collapse">HELP</a>
        <div id="help" class="collapse">
            <ul>
                <li><a href="@Url.Action("Encyclopedia", "Archspace")">Encyclopedia</a></li>
                <li><a>Archspace Wiki</a></li>
                <li><a>Developer Blog</a></li>
                <li><a>FAQ</a></li>
                <li><a>Rules</a></li>
                <li><a>Retire</a></li>
            </ul>
        </div>
    </li>
    @if (true)
    {
        <li>
            <a href="#admin" data-toggle="collapse">ADMIN</a>
            <div id="admin" class="collapse">
                <ul>
                    <li><a href="~/archspace/admin">Administration</a></li>
                </ul>
            </div>
        </li>
    }
</ul>