@using Archspace2
@{
    ViewData["Title"] = "Main";
    Layout = "_LayoutGame";
    Player player = (Player)ViewData["Player"];
}

<main>
    <img src="~/images/races/@(player.Race.Name.ToLowerInvariant())/main_img.gif"/>
    @(player.Name) (#@(player.Id))
    <table>
        <tr>
            <td>Ranking</td>
            <td></td>
        </tr>
        <tr>
            <td>Production Point</td>
            <td>@(player.Resource.ProductionPoint)</td>
        </tr>
        <tr>
            <td>Planets</td>
            <td>@(player.Planets.Count)</td>
        </tr>
        <tr>
            <td>Population</td>
            <td>@(player.Planets.Sum(x => x.Population))</td>
        </tr>
        <tr>
            <td>Concentration Mode</td>
            <td>@(player.ConcentrationMode.ToString())</td>
        </tr>
        <tr>
            <td>Power</td>
            <td></td>
        </tr>
        <tr>
            <td>Fleet</td>
            <td>@(player.Fleets.Count)</td>
        </tr>
        <tr>
            <td>Ships</td>
            <td></td>
        </tr>
        <tr>
            <td>Honor</td>
            <td>(@(player.Honor))</td>
        </tr>
        <tr>
            <td>Council</td>
            <td>@(player.Council.Name) (@player.Council.Id))</td>
        </tr>
    </table>
</main>